*
!scripts/
!.config/
.config/*
!.config/ranger/

# Exceptions
!.gitignore
!.emacs
!.xmonad/
!.xmobarrc
!.stalonetrayrc
!.vimrc
!.xinitrc
!.Xresources
!.Xauthority
!.xbindkeysrc
!.imwheelrc
!.bashrc
!.compton.conf
